@charset "UTF-8";
/* CSS Document */

body {background-color: #F9F2ED; 
	margin: 0; 
	padding: 50px; 
	line-height: 1.75;
	font-family: "Basic Sans";}

h1 {color:#F87474; font-size: 3em;}

h2 {font-size: 3em;}

h4 {font-size: 1.5em;
	margin-top: 0;}

dt {font-size: 2em;
	font-weight: bold;}

a:link {color:#F87474;text-decoration:none;}
		
a:hover {color:#F87474;text-decoration:underline;}
	
a:visited {color:#3AB0FF;}